%ul
  %li{:value => "#{new_marker[:lng]}", :id => "lng" }
  %li{:value => "#{new_marker[:lat]}", :id => "lat" }
#content
  %h2 "#{new_marker[:name]}"
  <button type='button' class='btn btn-link'>Visited!</button>