/ Home page

%link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
%script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
%script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")


#outer
  -if @current_user
    .inner
      = button_to @current_user, :method => :get, :id => 'profile_button', :class => "button" do
        My Profile
        %span(class="glyphicon glyphicon-star")
    .inner
      = button_to users_path, :method => :get, :id => 'search_button', :class => "button" do
        Search Users
        %span(class="glyphicon glyphicon-search")
    .inner
      = button_to logout_path , :method => :delete , :id => 'logout', :class => "button" do
        Logout
        %span(class="glyphicon glyphicon-log-out")
    #div{:class => "card"}
      #map{:style => "width:50; height:550px;"}
  -else
    %h2
      = button_to login_path , :method => :get, :id => 'signuplogin', :class => "button" do
        Sign up/Login
        %span(class="glyphicon glyphicon-log-in")
  
