/ Home page
%table 
  %thead
    %tr
      = button_to "Search Users", users_path
      = button_to "Following", users_following_path
      = button_to 'My Profile', users_profile_path

#map{:style => "width:100; height:700px;"}