/ Home page
%table 
  %thead
    %tr 
      
      -if @current_user
        = button_to 'My Profile', @current_user, :method => :get, :id => 'profile_button', :class => "button" 
        = button_to "Search Users", users_path, :method => :get, :id => 'search_button', :class => "button" 
        = button_to "Following", users_follow_page, :id => 'following_button', :class => "button" 
        #map{:style => "width:100; height:700px;"}

